cachetools==5.3.2
chardet==5.2.0
colorama==0.4.6
ConfigUpdater==3.2
distlib==0.3.8
filelock==3.13.1
iniconfig==2.0.0
numpy==1.26.4
packaging==23.2
pandas==2.2.0
platformdirs
pluggy==1.4.0
pyproject-api==1.6.1
pytest==8.0.0
pytest-snapshot==0.9.0
python-dateutil==2.8.2
pytz==2024.1
setuptools-scm==8.0.4
six==1.16.0
tomlkit==0.12.3
tox==4.12.1
typing_extensions==4.9.0
tzdata==2023.4
virtualenv==20.25.0
epw
openpyxl==3.1.2
pvlib==0.11.1